.image {
  transition: $short-animation-transition;

  &--rotating {
    transform: rotate(7.5deg);

    &.hidden {
      transform: rotate(2deg);
    }
  }

  &--smooth-pop-in {
    animation: popup-show $short-keyframes-transition;
    opacity: 1;

    &.hidden {
      animation: popup-hide $short-keyframes-transition;
    }
  }
}
