$white: #ffffff;
$black: #000000;

$bg: #e9ddcf;
$primary: #07424d;

$poppins: "Poppins", sans-serif;
$cormorant: "Cormorant", serif;

$font-weight-light: 300;
$font-weight-semibold: 600;

$spacing-left-bottom: 5rem; // 80px (padding on the right and bottom
