.landing {
  position: relative;
  width: 100vw;
  height: 100vh;
  // TODO: Fix absolute paths in webpack
  background-image: url("../images/landing-bg.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;

  &::after {
    // this is the backdrop on the header
    content: "";
    display: block;
    height: $size344;
    width: 100vw;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    z-index: 2;
  }

  &__bottom_container {
    position: absolute;
    left: $size80;
    bottom: $size80;
    max-width: 30.75rem;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    color: $white;
    text-transform: capitalize;

    &.hidden {
      .landing {
        &__heading {
          animation: hide-down 0.8s ease-in-out forwards;
        }
        &__title {
          animation: hide-down 0.6s ease-in-out forwards;
        }
      }
    }
  }

  &__heading {
    font-size: $size20;
    line-height: $size38;
    font-family: $cormorant;
    font-weight: $font-weight-semibold;
    animation: show-up 0.8s ease-in-out forwards;
  }

  &__title {
    font-size: $size60;
    line-height: $size68;
    font-weight: $font-weight-light;
    animation: show-up 0.6s ease-in-out forwards;
  }
}

@keyframes show-up {
  0% {
    opacity: 0;
    transform: scale(0.98) translateY(20%);
  }
  100% {
    opacity: 1;
    transform: initial;
  }
}

@keyframes hide-down {
  0% {
    opacity: 1;
    transform: initial;
  }
  100% {
    opacity: 0;
    transform: scale(0.98) translateY(20%);
  }
}
