.success-stories {
  background: $bg-dark;
  position: relative;
  overflow: hidden;

  &__bg {
    color: $secondary-dark;
    position: absolute;
    left: $size28;
    top: $size32;
  }

  &__text-container {
    top: $size328;
    position: absolute;
    z-index: 1;
  }

  &__portrait-container {
    position: absolute;
    top: $size230;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
  }

  &__top-container {
    top: $size102;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 3;
  }

  &__heading {
    font-family: $poppins;
    font-size: $size30;
    line-height: $size38;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: $size52;
    color: $white;

    animation: show-down $text-animation-transition;

    &.hidden {
      animation: hide-up $text-animation-transition;
    }
  }

  &__links {
    animation: show-down $slow-text-animation-transition;

    &.hidden {
      animation: hide-up $slow-text-animation-transition;
    }
  }

  &__title {
    color: $white;
    display: block;
    font-family: $cormorant;
    font-size: $size160;
    line-height: $size160 + $size8;
    width: fit-content;
    font-style: normal;
    font-weight: $font-weight-normal;
    transform: translateX(45%);
    transition: $animation-transition;
    opacity: 1;

    &.hidden {
      transform: translateX(0);
      opacity: 0;
    }

    &--bottom {
      width: fit-content;
      transition: $animation-transition;
      opacity: 1;
      margin-top: $size18;
      transform: translateX(-14.5%);

      &.hidden {
        transform: translateX(45%);
      }
    }
  }
}
