@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: scale(0.98) translateY(20%);
  }
  100% {
    opacity: 1;
    transform: initial;
  }
}

@keyframes fade-out-up {
  0% {
    opacity: 1;
    transform: initial;
  }
  100% {
    opacity: 0;
    transform: scale(0.98) translateY(20%);
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: scale(0.98) translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: initial;
  }
}

@keyframes fade-out-down {
  0% {
    opacity: 1;
    transform: initial;
  }
  100% {
    opacity: 0;
    transform: scale(0.98) translateY(-20%);
  }
}

@keyframes popup-show {
  0% {
    opacity: 0;
    transform: scale(0.95) translateX(20%);
  }
  33% {
    opacity: 0.6;
    transform: scale(0.98) translateX(0);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}

@keyframes popup-hide {
  0% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
  66% {
    opacity: 0.6;
    transform: scale(0.98) translateX(0);
  }
  100% {
    opacity: 0;
    transform: scale(0.95) translateX(20%);
  }
}
