// frequently used things:

$white: #ffffff;
$black: #000000;

$bg-light: #e9ddcf;
$bg-dark: #07424d;
$secondary-dark: #104751;

$primary: #079cff;

$poppins: "Poppins", sans-serif;
$cormorant: "Cormorant", serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;

$interactive-transition: 0.3s ease-in-out;
$animation-transition: 1s cubic-bezier(0.73, 0.24, 0.74, 0.89);
$short-animation-transition: 0.6s cubic-bezier(0.73, 0.24, 0.74, 0.89);
$keyframes-transition: 0.8s ease-in-out forwards;
$short-keyframes-transition: 0.6s ease-in-out forwards;

$size4: 0.25rem;
$size8: 0.5rem;
$size10: 0.625rem;
$size12: 0.75rem;
$size14: 0.875rem;
$size15: 0.9375rem;
$size16: 1rem;
$size18: 1.125rem;
$size19: 1.1875rem;
$size20: 1.25rem;
$size24: 1.5rem;
$size26: 1.625rem;
$size28: 1.75rem;
$size30: 1.875rem;
$size32: 2rem;
$size34: 2.125rem;
$size36: 2.25rem;
$size38: 2.375rem;
$size40: 2.5rem;
$size44: 2.75rem;
$size48: 3rem;
$size52: 3.25rem;
$size56: 3.5rem;
$size60: 3.75rem;
$size64: 4rem;
$size68: 4.25rem;
$size72: 4.5rem;
$size74: 4.625rem;
$size76: 4.75rem;
$size80: 5rem;
$size98: 6.125rem;
$size102: 6.375rem;
$size104: 6.5rem;
$size160: 10rem;
$size168: 10.5rem;
$size256: 16rem;
$size328: 20.5rem;
$size344: 21.5rem;
$size492: 30.75rem;

$header-height: $size74;
