$white: #ffffff;
$black: #000000;

$bg-light: #e9ddcf;
$bg-dark: #07424d;

$poppins: "Poppins", sans-serif;
$cormorant: "Cormorant", serif;

$font-weight-light: 300;
$font-weight-semibold: 600;

$base-transition: 0.2s ease-in-out;

$size4: 0.25rem;
$size8: 0.5rem;
$size10: 0.625rem;
$size12: 0.75rem;
$size14: 0.875rem;
$size15: 0.9375rem;
$size16: 1rem;
$size18: 1.125rem;
$size20: 1.25rem;
$size24: 1.5rem;
$size26: 1.625rem;
$size28: 1.75rem;
$size30: 1.875rem;
$size32: 2rem;
$size34: 2.125rem;
$size36: 2.25rem;
$size38: 2.375rem;
$size40: 2.5rem;
$size44: 2.75rem;
$size48: 3rem;
$size52: 3.25rem;
$size56: 3.5rem;
$size60: 3.75rem;
$size64: 4rem;
$size68: 4.25rem;
$size80: 5rem;
$size160: 10rem;
$size344: 21.5rem;
